<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rails New Village</title>
    <link href="<%= url('styles.css') %>" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
  </head>
  <body>
    <div class="content">
      <img src="https://hips.hearstapps.com/hmg-prod/images/womanyellingcat-1573233850.jpg?resize=520:*" alt="">
      <h1>Rails New Village</h1>
      <p style="margin-top:-13px;">discord bot built with ruby</p>
      <br/>
      <p class="des" style="margin-top:-13px; line-height: 28px;">
        Click invite button to add discord bot
        After adding bot, start with <span style="color: #D98F8F;">!help</span> command <br>
      </p>
      <br/>
      <a class="btn" href="<%= @url %>"><i class="fab fa-discord"></i> INVITE</a>
      <br/><br/><br/><br/>
      <a href="https://github.com/linchiquei/discordrb-template/issues">
        <p style="font-size:12px;">Report Issue</p>
      </a>
      <p style="font-size:12px;"><span>Designed with <i class="fas fa-heart icon"></i> by: .Ricky Lin v 1.6.0 </span></p>
    </div>
  </body>
</html>
